WebApplication_TP1/obj/Debug/WebApplication_TP1.pdb
WebApplication_TP1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication_TP1/bin/WebApplication_TP1.dll
WebApplication_TP1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication_TP1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication_TP1/bin/WebApplication_TP1.dll