<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="PW3_20152C_TP2_TorneosEntities" connectionString="metadata=res://*/DataBase.BBDD_Torneos.csdl|res://*/DataBase.BBDD_Torneos.ssdl|res://*/DataBase.BBDD_Torneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pcnora;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PW3_20152C_TP2_TorneosEntities" connectionString="metadata=res://*/DataBase.BBDD_Torneos.csdl|res://*/DataBase.BBDD_Torneos.ssdl|res://*/DataBase.BBDD_Torneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mw78bcnsugpw3e;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PW3_20152C_TP2_TorneosEntities" connectionString="metadata=res://*/DataBase.BBDD_Torneos.csdl|res://*/DataBase.BBDD_Torneos.ssdl|res://*/DataBase.BBDD_Torneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-K53SJ\SQLEXPRESS;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="servicioSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62071/WebServices/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="servicioSoap" contract="ServiceReference1.servicioSoap" name="servicioSoap" />
    </client>
  </system.serviceModel>
</configuration>